body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 95%; /* Increased the max-width to 95% for almost full width */
  margin: 20px auto; /* Added some margin to the top and bottom */
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Slightly increased border-radius for better aesthetics */
}

section {
  margin-bottom: 40px;
}

h1, h2 {
  color: #4CAF50;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.table {
  margin-top: 40px;
}

table {
  border-collapse: collapse; /* Changed to collapse for a cleaner look */
  width: 100%;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Added a bottom border for rows */
}

th {
  background-color: #4CAF50;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Changed the color for better contrast */
}

tr:hover {
  background-color: #f1f1f1; /* Added hover effect for rows */
}

td {
  background-color: #fff; /* Ensuring td background color consistency */
}

pre {
  background-color: #f2f2f2;
  padding: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* border-radius: 5px; */
  /* border: 1px solid #ddd;  */
}

/* Additional styles to enhance the table */
table {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added subtle shadow to the table */
  border-radius: 10px; /* Rounded corners for the table */
  overflow: hidden; /* Ensure rounded corners work with the shadow */
}

th {
  font-weight: bold;
  text-transform: uppercase; /* Uppercase text for headers */
  letter-spacing: 1px; /* Added letter spacing for better readability */
}

td {
  font-size: 0.9em; /* Slightly smaller font size for table data */
}
